<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Article</title>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        .b{
            background-color: blue;
        }
        .s{
            background-color: silver;
        }
        .btn{
            padding: 10px;
            border-radius: 3px;
            color: white;
            border: none;
            text-decoration: none;
            cursor: pointer;
        }
        main{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 500px;
            height: 600px;
        }
        body{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <main>
        <form action="/articles/<%=article.id%>?_method=put" method="post">
            <h1>Edit Article</h1>
            <label for="title">Title</label><br>
            <input type="text" name="title" id="title" value="<%=article.title%>"><br>
            <label for="description">Description</label><br>
            <textarea name="description" id="description" cols="100" rows="10" ><%=article.description%></textarea><br>
            <label for="content">Markdown</label><br>
            <textarea name="content" id="content" cols="100" rows="10" ><%=article.content%></textarea><br>
            <a href="/" class="btn s">Cancel</a> 
            <button class="btn b">Save</button>
        </form>
    </main>
    
</body>
</html>